body{
    padding: 0px;
    margin: 0px;
    background-color:  rgb(245, 245, 220);
}

html{
    scroll-behavior: smooth;
}

.bloco{
    max-width: 400px;
    border-radius: 6%;
    margin: 1%;
    border: 1px solid rgb(198, 187, 187);
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1%;
}

.titulo{
    display: flex;
    justify-content: center;
    padding: 0px;
    margin-bottom: 0px;
}

.img-cafe{
    display: flex;
    justify-content: center;
}

.titulo-cafe{
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin: 5px 0px 5px 0px;
    color: rgb(139, 69, 19);
}

.audio{
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.img-cafe{
    max-width: 100%;
    max-height: 180px;
}

.link-musica{
    display: flex;
    justify-content: center;
    padding: 3px;
    text-decoration: none;
    color: rgb(68, 68, 241);
}

.video{
    width: 900px;
    height: 500px;
}

.container-video{
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}

.back-musicas{
    color: white;
    background-color: black;
}

.botao-voltar{
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.caixa-voltar{
    margin: 1%;
}

.descricao{
    display: flex;
    justify-content: center; 
    text-align: center;
}

.texto-cafe{
    font-size:  16px;
    color: rgb(139, 69, 19);
    margin: 0px 5px 10px 5px;
}

.descri-img{
    width: 22px;
    height: 20px;
    margin-left: 5px;
}

#slider{
    width: 85%;
    max-width: 300px;
    height: 600vh;
    max-height: 490px;

    position: relative;
}

#slider img{
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 80%;

    object-fit: cover;

    transition: opacity 800ms;
}

#slider img.selected{
    opacity: 1;
}

.container-slider{
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
}

#titulo-produtos{
    margin: 2% 0px 1% 0px;
}

.container-item{
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.item-sobre{
    display: flex;
    justify-content: center;
    padding: 3%;
}

.item-dentro{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
}

.gif{
    background-image: url(/gif/espresso.gif);
}

.descricao-cafe{
    font-size: 20px;
    text-align: justify;
}

.imgs-gif{
    width: 480px;
    height: 300px;
}

.ani{
    transition: .10s;
    cursor: pointer;
}

.cont-ani:hover > :not(:hover){
    opacity: .4;
    transform: scale(0.9);
}

#produtos, #descricao, #videos, 
#bloco-espresso, #bloco-cappuccino,
#bloco-latte, #bloco-macchiato,
#bloco-mocha, #bloco-brasileirinho {
    visibility: hidden;
}